#**Using Cluster Sampling For Uber**

Cluster Sampling- a population is split into clusters and all members of some clusters are chosen to be included in the sample.

##**Step 1**- **Sample**: Decide the target audience and also the sample size.

Let's Imagine **Uber** wants to survey its Customer.Out of ten tours they give one day, they randomly select four tours and ask every customer to rate their experience on a scale of 1 to 10.

##**Step 2-Create and evaluate sampling frames:**The following code shows how to create a pandas DataFrame to work with:

In [ ]:
import pandas as pd
import numpy as np

#make this example reproducible
np.random.seed(0)

#create DataFrame
df = pd.DataFrame({'tour': np.repeat(np.arange(1,11), 20),
                   'experience': np.random.normal(loc=7, scale=1, size=200)})

#view first six rows of DataFrame
df.head()

   tour  experience
0     1    8.764052
1     1    7.400157
2     1    7.978738
3     1    9.240893
4     1    8.867558

##**Step 3-Determine groups:**

##**Step 4-Select clusters:** Choose clusters by applying a random selection.

In [ ]:
#randomly choose 4 tour groups out of the 10
clusters = np.random.choice(np.arange(1,11), size=4, replace=False)

#define sample as all members who belong to one of the 4 tour groups
cluster_sample = df[df['tour'].isin(clusters)]

#view first six rows of sample
cluster_sample.head()

   tour  experience
0     1    8.764052
1     1    7.400157
2     1    7.978738
3     1    9.240893
4     1    8.867558

Will find how many observations came from each tour group

In [ ]:
#find how many observations came from each tour group
cluster_sample['tour'].value_counts()

10    20
7     20
5     20
3     20
Name: tour, dtype: int64

What we understand from the output?

*   20 customers from tour group #10 were included in the sample.
*   20 customers from tour group #6 were included in the sample.
*   20 customers from tour group #5 were included in the sample.
*   20 customers from tour group #3 were included in the sample.

**This sample is composed of 80 total customers that came from 4 different tour groups.**