In [ ]:
#DATA FRAMECAN BE CREATED BY TWO WAYS

In [ ]:
#LIST
import numpy as py
import pandas as pd

a=['python','pandas']
b=pd.DataFrame(a)
print(b)

        0
0  python
1  pandas

In [ ]:
#dict narrays
import pandas as pd

a={"ID":[1,2,3,4,5,6,7,8,9],"NAME":['sanchay','sanchay1','sanchay2','sanchay3','san4','san5','san6','san7','san8']}
b=pd.DataFrame(a)

print(b)

   ID      NAME
0   1   sanchay
1   2  sanchay1
2   3  sanchay2
3   4  sanchay3
4   5      san4
5   6      san5
6   7      san6
7   8      san7
8   9      san8

In [ ]:
#Problem Statement: 
#Create a DataFrame containing the data of a cultural event, add a column called ‘Price’ which contains the ticket price for a particular day based on the type of event that will be conducted on that particular day.

import pandas as pd
import numpy as

colm={"PRICE":[200,300,400,500,600,700,800],"DAY":['mon','tue','wed','thru','fri','sat','sun']}

all_set=pd.DataFrame(colm)

print(all_set)

   PRICE   DAY
0    200   mon
1    300   tue
2    400   wed
3    500  thru
4    600   fri
5    700   sat
6    800   sun

In [ ]:
#data
apply=all_set.apply(np.sum)

print(apply)

PRICE                      3500
DAY      montuewedthrufrisatsun
dtype: object

TypeError: ignored

In [ ]:
#Problem Statement: 
#Create a DataFrame containing the data of a cultural event, add a column called ‘Price’ which contains the ticket price for a particular day based on the type of event that will be conducted on that particular day.

import pandas as pd
import numpy as np

colm={"PRICE":[200,300,400,500,600,700,800],"DAY":[1,2,3,4,5,6,7]}

all_set=pd.DataFrame(colm)

print(all_set)
#apply=all_set.apply(np.sqrt)
apply=all_set.apply(np.sqrt,axis=1,result_type='expand')
print(apply)

   PRICE  DAY
0    200    1
1    300    2
2    400    3
3    500    4
4    600    5
5    700    6
6    800    7
       PRICE       DAY
0  14.142136  1.000000
1  17.320508  1.414214
2  20.000000  1.732051
3  22.360680  2.000000
4  24.494897  2.236068
5  26.457513  2.449490
6  28.284271  2.645751

In [ ]:
import pandas as pd
import numpy as np

colm={"PRICE":[200,300,400,500,600,700,800],"DAY":[1,2,3,4,5,6,7]}

all_set=pd.DataFrame(colm)

print(all_set)
#apply=all_set.apply(np.sqrt)
apply=all_set.apply(np.sqrt,axis=1,result_type='expand')
print(apply)

   PRICE  DAY
0    200    1
1    300    2
2    400    3
3    500    4
4    600    5
5    700    6
6    800    7
       PRICE       DAY
0  14.142136  1.000000
1  17.320508  1.414214
2  20.000000  1.732051
3  22.360680  2.000000
4  24.494897  2.236068
5  26.457513  2.449490
6  28.284271  2.645751

In [ ]:
df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
df.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)

   foo  bar
0    1    2
1    1    2
2    1    2

In [ ]:
#Make a pandas df with 2-d list

import pandas as pd 
import numpy as np

list=[[1,'one'],[2,"two"],[3,"three"],[4,"four"],[5,"five"]]

df=pd.DataFrame(list,columns=['Tag','number'])

print(df)

   Tag number
0    1    one
1    2    two
2    3  three
3    4   four
4    5   five

In [ ]:
#creating dataframe from dict of narray

import pandas as pd

data={'team':['t1','t2','t3','t4'],
      'score':[1,2,3,4]}

df=pd.DataFrame(data) 

print(df)

  team  score
0   t1      1
1   t2      2
2   t3      3
3   t4      4

In [ ]:
#Providing index list to df

df=pd.DataFrame(data,index =['cat_1','cat_2','cat_3','cat_4'])

print(df)

      team  score
cat_1   t1      1
cat_2   t2      2
cat_3   t3      3
cat_4   t4      4

In [ ]:
#creating a DataFrame from dict of narray/list

import pandas as pd

data={'subject':['maths','science','chemistry'], 'marks':[20,21,22]}

df=pd.DataFrame(data)
print(df)

     subject  marks
0      maths     20
1    science     21
2  chemistry     22

In [ ]:
#creating pandas df using lists of lists

import pandas as pd

data=[['Geeks',10],['for',15],['geeks',20]]

df=pd.DataFrame(data,columns=['Name','Age'])

print(df)
print("-----------------------------")
print(df.transpose())

    Name  Age
0  Geeks   10
1    for   15
2  geeks   20
-----------------------------
          0    1      2
Name  Geeks  for  geeks
Age      10   15     20

In [ ]:
#creating a pandas  df using list of tuples

import pandas as pd

data=[('a',1,2),
      ('b',3,4),
      ('c',5,6),
      ('d',7,8)]

df=pd.DataFrame(data,columns=['name','rollno','score'])      

print(df)

  name  rollno  score
0    a       1      2
1    b       3      4
2    c       5      6
3    d       7      8

In [ ]:
#create a pandas DF from list of Dicts

import pandas as pd

data =[{'Geeks':'Dataframe','For':'using','geeks':'list'},
       {'Geeks':10,  'For':20,'geek':30}]

df =pd.DataFrame(data)

print(df)

       Geeks    For  geek
0  Dataframe  using  list
1         10     20    30

In [ ]:
#converted list of nested dictionary into pandas dataframe

import pandas as pd

list = [
        {
            "Students" : [{"EXAM":90,"Grade":"a"},
                          {"EXAM":99,"Grade":"b"},
                          {"EXAM":97,"Grade":"c"},
                          
                         ],
            "NAME": "SANCHAY CHAKRABORTY"       
        },
        {
            "Students" : [{"EXAM":90,"Grade":"a"},
                          {"EXAM":99,"Grade":"b"},
                          {"EXAM":97,"Grade":"c"},
                          
                         ],
         
          "NAME": "SANCHAY CHAKRABORTY"
        }
      ]
df =pd.DataFrame(list)

print(df)

                                            Students                 NAME
0  [{'EXAM': 90, 'Grade': 'a'}, {'EXAM': 99, 'Gra...  SANCHAY CHAKRABORTY
1  [{'EXAM': 90, 'Grade': 'a'}, {'EXAM': 99, 'Gra...  SANCHAY CHAKRABORTY